@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #9F799B, #74456F)
}

main {
    background-color: #C9AFC6;
    box-shadow: 5px 5px 15px #33052ea1;
    width: 1200px;
    padding: 20px;
    margin: auto;
    border-radius: 50px;
}

h1 {
    background-color: #33052E;
    color: white;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    text-shadow: 3px 3px 5px rgb(94, 69, 69);
}

h2 {
    background-color: #4A2045;
    margin-right: 1110px;
    padding: 2px;
    color: white;
    border-radius: 10px;
}

h3 {
    background-color: #4A2045;
    margin-right: 1115px;
    color: white;
    border-radius: 5px;
}

p {
    text-align: justify;
}